---
# Deploy single node: Helper tasks for deploying individual nodes
# Determines client type and includes appropriate role

- name: Extract client type from node name
  set_fact:
    client_type: "{{ node_name.split('_')[0] }}"

- name: Set validator config file paths
  set_fact:
    actual_validator_config_file: "{{ genesis_dir }}/validator-config.yaml"
    local_validator_config_file: "{{ hostvars['localhost']['local_genesis_dir_path'] }}/validator-config.yaml"

- name: Extract node configuration (from local config)
  shell: |
    yq eval ".validators[] | select(.name == \"{{ node_name }}\") | .name" {{ local_validator_config_file }}
  register: node_check
  changed_when: false
  failed_when: false
  delegate_to: localhost

- name: Fail if node not found in config
  fail:
    msg: "Node '{{ node_name }}' not found in {{ local_validator_config_file }}"
  when: node_check.stdout == "" or node_check.rc != 0

- name: Set zeam validator config
  set_fact:
    zeam_validator_config: "{{ validator_config if validator_config is defined and validator_config != '' else 'genesis_bootnode' }}"

- name: Deploy Zeam node
  include_role:
    name: zeam
  vars:
    validator_config: "{{ zeam_validator_config }}"
  when: client_type == "zeam"
  tags:
    - zeam
    - deploy

- name: Deploy Ream node
  include_role:
    name: ream
  when: client_type == "ream"
  tags:
    - ream
    - deploy

- name: Deploy Qlean node
  include_role:
    name: qlean
  when: client_type == "qlean"
  tags:
    - qlean
    - deploy

- name: Deploy Lantern node
  include_role:
    name: lantern
  when: client_type == "lantern"
  tags:
    - lantern
    - deploy

- name: Deploy Lighthouse node
  include_role:
    name: lighthouse
  when: client_type == "lighthouse"
  tags:
    - lighthouse
    - deploy

- name: Deploy Grandine node
  include_role:
    name: grandine
  when: client_type == "grandine"
  tags:
    - grandine
    - deploy

- name: Deploy Ethlambda node
  include_role:
    name: ethlambda
  when: client_type == "ethlambda"
  tags:
    - ethlambda
    - deploy

- name: Fail if unknown client type
  fail:
    msg: "Unknown client type '{{ client_type }}' for node '{{ node_name }}'. Expected: zeam, ream, qlean, lantern, lighthouse, grandine or ethlambda"
  when: client_type not in ["zeam", "ream", "qlean", "lantern", "lighthouse", "grandine", "ethlambda"]
